@using Pomoro_Language_Learning.Areas.Identity.Data
@model IEnumerable<FlashCards>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Untranslated
            </th>
            <th>
                Translated
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var obj in Model)
        {
            <div class="card-container">
                <div class="card" id="card">
                    <div class="front">
                        <h1>@obj.NonTranslated</h1>
                    </div>
                    <div class="back">
                        <h1>@obj.Translated</h1>
                    </div>
                </div>
             </div>
        }
    </tbody>
</table>