@using Pomoro_Language_Learning.Areas.Identity.Data
@model IEnumerable<FlashCards>
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #FFF;
    }

    .change-card-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-self: center;
        color: #121212;
        width: 10%;
    }
    
    .left-button, .know-button, .right-button {
        color: #121212;
        font-size: 36px;
        border: 1px solid #121212;
        border-radius: 50%;
    }
</style>
<section class="review-hero">
@foreach(var obj in Model)
    {
        <div class="card-container">
            <div class="card" id="card">
                <div class="front face">
                    <div class="card-text">@obj.NonTranslated</div>
                </div>
                <div class="back face">
                    <div class="card-text">@obj.Translated</div>
                </div>
            </div>
        </div>
    }
    <div class="change-card-container">
        <a asp-controller="FlashCards" asp-action="Previous" class="left-button"><i class='bx bx-left-arrow-alt'></i></a>
        <a asp-controller="FlashCards" asp-action="Check" class="know-button"><i class='bx bx-check' ></i></a>
        <a asp-controller="FlashCards" asp-action="Next" class="right-button"><i class='bx bx-right-arrow-alt' ></i></a>
    </div>
</section>


<script type="text/javascript">
var card = document.querySelector('.card');
card.addEventListener('click', function () {
    card.classList.toggle('is-flipped');
});
</script>