@using Pomoro_Language_Learning.Areas.Identity.Data
@model IEnumerable<FlashCards>
@{
    ViewData["Title"] = "Review";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background-color: #FFF;
    }

    .change-card-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        color: #121212;
        width: 10%;
    }
</style>
<section class="review-hero">
@foreach(var obj in Model)
    {
        <div class="card-container">
            <div class="card" id="card">
                <div class="front face">
                    <div class="card-text">@obj.NonTranslated</div>
                </div>
                <div class="back face">
                    <div class="card-text">@obj.Translated</div>
                </div>
            </div>
        </div>
    }
    <div class="change-card-container">
        <div class="left-button">left</div>
        <div class="know-button">know</div>
        <div class="right-button">right</div>
    </div>
</section>


<script type="text/javascript">
var card = document.querySelector('.card');
card.addEventListener('click', function () {
    card.classList.toggle('is-flipped');
});
</script>