/* html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
    */
*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0d0c0c86;
    color: white;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
}

.header-text {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-decoration: none;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity));
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}

a.navheader {
    text-decoration: none;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    white-space: nowrap;
    color:white;
}
body {
    z-index: 1;
    background: linear-gradient(to bottom, #00000000, #000000), url("/Images/unknown.png");
    /*background: url("/Images/unknown.png"); 
            opacity 0 color: #0d0c0c86;
    /* lighter version
    background: url(https://i.imgur.com/vjhAtjV.jpg);
    */
}



.text-center {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.card-container {
    position: relative;
    width: 250px;
    height: 320px;
    background: none;
    margin-top: 10rem;
}

.card {
    position: relative;
    border-radius: 25px;
    width: 200%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    background-color: #2e3a4a;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-content: center;
}

.card-text {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: center;
    vertical-align: bottom;
    height: 200px;
    /*margin-top: 5.5rem;*/
    margin-bottom: 0.5rem;
    font-weight: 350;
    line-height: 1.2;
    font-size: 2.5rem;
    color: aliceblue;
}

/*
.card:hover {
    transform: rotateY(180deg);
}
*/

.page {
    height: 100vh;
    width: 100%;
}

.face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.front {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

.back {
    position: relative;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-content: flex-start;
}

.card.is-flipped {
    
    transform: rotateY(180deg);
    
}

#header {
    width: 100%;
    padding-left: 5%;
    height: 30%;
}

.display-3 {
    width: 100%;
    display: flex;
}

.header-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-items {
    color: #FFF;
    text-decoration: none;
    row-gap: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
}

.display-4 {
    font-size: 2.75rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}

.display-4-span {
    opacity: 0.5;
    padding-top: 1rem;
}