@using Pomoro_Language_Learning.Controllers
@using Microsoft.Extensions.Localization

@inject IStringLocalizer<HomeController> Localizer

<div class="text-center">
    <h1 class="display-4">
         @Localizer["PageTitle"]
    </h1>
    <p>
         @Localizer["PageDesc"]
    </p>
</div>
